<div class="row justify-content-center align-items-center" style="margin-top: 5rem;">
    <div class="col-md-6" style="text-align: center;">
        <img src="https://img.freepik.com/free-photo/adult-man-doing-online-shopping-during-leisure-day-home-young-man-buying-clothes-online_662251-2093.jpg?w=1060&t=st=1695906844~exp=1695907444~hmac=aa163229bbfa1a94777d1404543998353c75814e798b76e5f15c86f2f4967ca3" alt="IMG portada" width="500" height="400" style="border-radius: 5%; max-width: 100%;">
    </div>
    <div class="col-md-6"><h1 style="font-size: 36px; margin-bottom: 20px;">¡Bienvenido a Nuevos Aires!</h1>
  <p style="font-size: 18px; line-height: 1.5;">
    Aquí, nuestro compromiso es brindarte una experiencia de compra en línea excepcional. Nuestra página ha sido diseñada pensando en ti, para que encuentres todo lo que necesitas de manera rápida y sencilla. Desde moda y electrónicos hasta productos para el hogar, ofrecemos una amplia gama de productos de alta calidad.
  </p>
  <p style="font-size: 18px; line-height: 1.5;">
    En Nuevos Aires, la confiabilidad es nuestra prioridad. Trabajamos con los mejores proveedores y garantizamos que cada producto que encuentres en nuestra plataforma sea auténtico y de primera calidad. Nuestro proceso de compra seguro y protegido te brinda tranquilidad en cada transacción.
  </p>
  <p style="font-size: 18px; line-height: 1.5;">
    Explora nuestra variedad de productos, disfruta de ofertas exclusivas y descubre la conveniencia de comprar en línea. Ya sea que estés buscando algo específico o simplemente quieras navegar, estamos aquí para ti. ¡Esperamos que disfrutes de tu experiencia de compra en Nuevos Aires eCommerce!
  </p></div>
<div class="row my-5 align-items-center" style="margin-bottom: 5rem;">
    <div class="col-md-6"><h1 style="font-size: 36px; margin-bottom: 20px;">¡En Nuevos Aires eCommerce!</h1>
  <p style="font-size: 18px; line-height: 1.5;">
    Hemos creado un espacio en línea que combina funcionalidad, estilo y confiabilidad. Nuestra página te ofrece una plataforma fácil de usar donde puedes encontrar una amplia selección de productos para satisfacer tus necesidades y gustos.
  </p>
  <p style="font-size: 18px; line-height: 1.5;">
    La finalidad de Nuevos Aires eCommerce es brindarte la comodidad de comprar desde la comodidad de tu hogar u oficina. Nuestra funcionalidad intuitiva te permite navegar por categorías, comparar productos y realizar compras en pocos clics. Además, ofrecemos múltiples opciones de pago seguras para tu tranquilidad.
  </p>
  <p style="font-size: 18px; line-height: 1.5;">
    La confiabilidad es fundamental para nosotros. Trabajamos con marcas de renombre y vendedores de confianza para garantizar que cada artículo que adquieras sea auténtico y cumpla con los más altos estándares de calidad.
  </p>
  <p style="font-size: 18px; line-height: 1.5;">
    Estamos comprometidos a proporcionarte una experiencia de compra en línea excepcional. Te invitamos a explorar nuestro catálogo, disfrutar de ofertas exclusivas y experimentar la conveniencia de comprar en línea. ¡Gracias por elegirnos como tu destino de compras en línea!
  </p></div>
    <div class="col-md-6 " style="text-align: center;">
        <img src="https://img.freepik.com/free-photo/cyber-monday-shopping-sales_23-2148688502.jpg?w=1060&t=st=1695907165~exp=1695907765~hmac=87907c5c2460133155983eed83f31b17c0a0032f7281dcb1361357faf8bb0a2c" alt="IMG portada" width="500" height="400" style="border-radius: 5%;max-width: 100%;">
    </div>
</div>