<div class="row h-100">
  <div class="col-md-4 my-5" >
    <form class="card card-body rounded-0" id="formProducto">
        <h2 style="color:rgba(73, 177, 177, 0.665)">Nuevo Producto</h2>
        <div class="mb-3">
          <label for="title" class="form-label">Titulo</label>
          <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripcion</label>
          <input type="text" class="form-control" name="description"> 
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Precio</label>
          <input type="number" class="form-control" name="price">
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="number" class="form-control" name="stock">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Categoria</label>
          <input type="text" class="form-control" name="category">
        </div>
        <div class="mb-3">
          <label for="code" class="form-label">Codigo</label>
          <input type="text" class="form-control" name="code">
        </div>
          <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>
  </div>
 {{#if producto.length}}
  <div class="col-md-8" id="productoshtml" style=" display: flex; flex-wrap: wrap; justify-content: space-evenly;">
 {{else}}
    <div class="col-md-8" style=" display: flex; flex-wrap: wrap; justify-content: space-evenly;"><p>No se encontraron Productos en la BDD  {{ producto.length }}</p></div>
 {{/if}}   
  </div>
</div>


  
