
   <div style="display: flex; flex-wrap: wrap; margin-top: 2rem;">
    <h3>Usuarios</h3>
    {{#with usu}}
        <ul> 
        {{#each this}}
            <li>{{first_name}}<------>{{ rol }} </li>
        {{/each}}
        </ul>
    {{/with}}    
  </div>