<div class="row my-5 justify-content-center">
  <div class="col-md-4 my-5" >
    <form action="/session/verify/{{ token }}" method="POST" class="card card-body rounded-0" id="pass">
      <h2 class="title" style="color:rgba(73, 177, 177, 0.665)">Recupero de password</h2>
      <label for="email" class="form-label">{{ email }}</label>
      
      <br>
      <label for="password" class="form-label">Ingrese su nueva clave: </label>
      <input type="password" id="password" name="password" class="form-control" required></input>
      <br>
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <br>
    </form>
    {{#if error}}
      <div id="alerta-enviado" style="color: red">{{error}}</div>
    {{/if}}
  </div>
</div>

<script>
  $(document).ready(() => {
    $('#pass').submit((event) => {
      event.preventDefault();
      // Simula una alerta de éxito con Swal.fire
      Swal.fire({
        icon: 'success',
        title: 'Contraseña cambiada con éxito',
        text: '¡Tu contraseña se ha cambiado correctamente!',
        showConfirmButton: false,
        timer: 2000
      }).then(() => {
        // Redirige a la página de destino
        window.location.href = '/session/login'; // Cambia 'otra_pagina' por la URL correcta
      });
    });
  });

</script>